*{
    padding: 0 ;
    margin: 0 ;
}

#container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 5%;
    width: 70%;
    background-image: url("../back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#E1{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#E1 img{
    width: 40%;
    height: 40%;
    margin-left: 0;

}
button{
    align-self: center;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #4373FF;
    width: 45%;
    height: 15%;
    border-radius: 30px;
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
    background-size: 100% 100%;


}
h3{
    margin-bottom: 5%;
    font-size: 2vw;
    align-self: center;
    font-family: cursive;
    
}
h1{
    font-family: cursive;
    font-size: 2.5vw;
    align-self: center;
}

#container > img{
    margin-right: 5%;
    margin-bottom: 10%;
    width: auto;
    height: auto;
}