*
{
    padding: 0 ;
    margin: 0 ;
}
.nav{
    display: flex;
    justify-content: space-around;
}
#left img{
    width: 20%;
    height: 60%;
    margin-left: 0px;
    margin-top: 0;
}
#right img{
    width: 10%;
    height: 40%;
    margin-left: 0px;
    margin-top: 0;
}
#right{
    display: flex;
    padding-top: 1%;

}
#container
{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 5%;
    width: 100%;
    background-image: url("../back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

#E1
{
    display: flex;
    flex-direction: column;
     margin: 0 auto ;
     width: 50%;
}


#E1 img
{
    width: 30%;
    height: 35%;
    margin-left: 0px;
    

}


.links *
{
    display: inline-block;
    cursor: pointer;
    border: double;
    width: 31%;
    height: 40%;
    border-radius: 30px;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 2%;
    margin-left: 35%;
    


}

h3
{
    margin-bottom: 5%;
    font-size: 2vw;
    align-self: center;
    font-family: cursive;
    
}
h1{
    font-family: cursive;
    font-size: 2.5vw;
    align-self: center;
}


#container > img{
    margin-right: 8%;
    margin-bottom: 8%;
    width: 20%;
    height: 40%;
}

table , td , th
{
    border: 2px double blue;
    width: 70%;
    text-align: center;
    font-family: cursive;
    font-size: 2.5vw;
    
}
th, td {
    padding: 10px;
  }

  #dash
  {
      margin-left: 30%;
  }
  html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }
 ul {list-style: none}
 li::before {content: "•"; color: blue}