body
{
    background-image: url("../BackReg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    
}
html 
{
   margin: 0px;
   height: 100%;
   width: 100%;
}



img{
    width: 120px;
    height: 90px;
    position: absolute;
    top: 18%;
    left:26%;    
}
form{
    width: 330px;
    height: 316px;
    border: 6px solid #7095FF ;
    margin-left: 18%;
    margin-top: 5%;
}

.r
{
    font-size: 100px;
    text-align: right;
    color: white;
    transform: rotate(17deg);
}
