body
{
    margin:0;
    padding:0;
    background-image: url("../BackReg.png") ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    
}

img{
    width:  23%;
    height: 25%;
    position: absolute;
    top: 0;
    left:0;    
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2%;
    padding-top: 10px;
    border: 6px solid #7095FF ;
    margin-left: 28%;
    margin-top: 7%;
    text-align: center;
}

@media screen and (max-width: 800px){
    form{
        width: 45%;
        margin-top: 13%;
    }
}

@media screen and (max-width: 800px){
    form{
        margin-top: 20%;
    }
}
.r
{
    position: absolute;
    top: 20%;
    left: 70%;
    font-size: 100px;
    padding:0;
    text-align: right;
    color: black;
    transform: rotate(40deg);
  
}
